# Database Configuration
# ========= PostgreSQL =========
POSTGRES_DB=nestjsdb
POSTGRES_PORT=55432
# ========= Admin User =========
POSTGRES_ADMIN_USER=postgrestadmin
POSTGRES_ADMIN_PASSWORD=password
# ========= Application User =========
POSTGRES_SCHEMA_CORE=CORE
POSTGRES_USER_CORE=coreuser
POSTGRES_PASSWORD_CORE=passwordcore
# ========= Auth User =========
POSTGRES_SCHEMA_AUTH=AUTH
POSTGRES_USER_AUTH=authuser
POSTGRES_PASSWORD_AUTH=passwordauth

# Database Configuration
# ========= MongoDB =========
MONGO_DB=nestjsdb
MONGO_PORT=27027

# ========= Admin User =========
MONGO_ROOT_USER=mongoadmin
MONGO_ROOT_PASSWORD=password

# ========= Application User =========
MONGO_USER_APP=logsapp
MONGO_PASSWORD_APP=passwordlogs